
@mixin theme($color: #eb984e ) {
    color: $color;
    font-family: monospace;
    font-size: xx-large;
    display: flex;
}
    
.PresentDay {
    @include theme($color: #eb984e);
}
    
.PresentTime {
    @include theme($color: #5dade2 );
}