html {
  background: linear-gradient(#1373f1, #6a22dd);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; 
}

.header {
  text-align: center;
  color: #eafa09;
}


.Topsters1, 
.Topsters2   {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}

@media(width <= 1250px) {
  .Topsters1,.Topsters2 {
  grid-template-columns: repeat(auto-fit, minmax(500px,1fr));  /* Splits the rows into two*/
  }
}

.Topsters1 img
, .Topsters2 img {
    width: 98%;   
    height: 240px;
    border: 5px solid #2913f1;
  }

.Topsters1, .Topsters2 {
  animation: fadeIn 5s; 
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
  
}

.Container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 10px;
}

.Box1,
.Box2 {
  flex: auto;
  width: 600px;
  height: 480px;
  padding: 5px;
  border: 5px solid #be6a85;
  background-color: #b4be1e;
  text-align: justify;
  text-indent: 2em;
  line-height: 2;
  font-size: large;
  font-family: 'Lucida Sans', sans-serif;
  color: #2463b4;
}

@media(width <= 700px) {
  .Box1, .Box2 {
    font-size: 2vw;
  }
}

.Box2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  position: relative;
  bottom: 50px;
  width: 150px;      
  height: 50px;
  border-radius: 5px ;
  font-size: larger;
  font-family:'Franklin Gothic Medium', sans-serif;
}

.button:hover {
  border: solid 5px #2463b4;
}

.button:focus {
  outline: none;
}

#album-image {
  position: relative;
  top: 50px;
  width: 125px;
  height: 125px;;
  border: 5px solid #000000;
}

#album-title {
  position: relative;
  right: 60px;
  top: 50px;
  width: 250px;
  height: 25px;
  color: #2463b4;
  font-size: small;
  font-family:'Verdana', sans-serif;
}

@media(width <= 1250px) {
  #album-title {
    font-size: 1vw;
  }
}
